# Real Estate Price Prediction Analysis

#### Imports

In [2]:
from hashlib import sha1
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.compose import ColumnTransformer, make_column_transformer
from sklearn.dummy import DummyClassifier
from sklearn.impute import SimpleImputer
from sklearn.model_selection import cross_val_score, cross_validate, train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler, OrdinalEncoder
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier

## Introduction

Introduction to problem, Problem Statement, and Describing Dataset

## Preliminary Data Analysis

In [3]:
real_estate_df = pd.read_csv("data/data.csv")
real_estate_df.shape

(904966, 10)

To prevent any violation of the golden rule, the initial step before proceeding with any task is to split the data.

In [5]:
train_df, test_df = train_test_split(real_estate_df, test_size=0.6, random_state=123)

Now, we will explore`train_df` to look for any missing values and differentiate between the different features for our Pipeline later on.

In [6]:
train_df.sort_index()

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
2,for_sale,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.0,NaN,67000.0
4,for_sale,6.0,2.0,0.05,Mayaguez,Puerto Rico,680.0,NaN,NaN,65000.0
5,for_sale,4.0,3.0,0.46,San Sebastian,Puerto Rico,612.0,2520.0,NaN,179000.0
7,for_sale,3.0,2.0,0.08,Ponce,Puerto Rico,731.0,1050.0,NaN,71600.0
8,for_sale,2.0,1.0,0.09,Ponce,Puerto Rico,730.0,1092.0,NaN,100000.0
...,...,...,...,...,...,...,...,...,...,...
904954,for_sale,1.0,1.0,NaN,New York City,New York,10463.0,NaN,NaN,200000.0
904955,for_sale,1.0,1.0,NaN,New York City,New York,10463.0,800.0,NaN,225000.0
904958,for_sale,1.0,1.0,NaN,Bronx,New York,10463.0,700.0,NaN,245000.0
904959,for_sale,1.0,1.0,NaN,New York City,New York,10463.0,720.0,2022-04-01,265000.0
904963,for_sale,NaN,1.0,NaN,Bronx,New York,10463.0,NaN,NaN,120000.0

In [ ]:
train_df.des